<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tod Calculator</title>
    <link rel="stylesheet" href="node_modules/bulma/css/bulma.css">
    <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="Styles/home.css">
</head>

<body>
    <div ng-app="todApp" ng-controller="todController as vm" class="container  home">
        <h1 class="title"><i class="fas fa-plane"></i>&nbsp;FSX Tod Calcukator {{vm.name}}</h1>
       <form name="vm.todFrom" >
        <div class="columns">
            <div class="column">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Vitesse sol</label>
                    </div>
                    <div class="field">
                        <p class="control">
                            <input class="input" min="1" required type="number" placeholder="Vitesse sol" ng-model="vm.GroundSpeed">
                        </p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Δz</label>
                    </div>
                    <div class="field">
                        <p class="control">
                            <input class="input" min="1" required type="number" placeholder="Δz" ng-model="vm.DeltaZ">
                        </p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Vz</label>
                    </div>
                    <div class="field">
                        <p class="control">
                            <input class="input" min="1" required type="number" placeholder="Vz" ng-model="vm.VitessV">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <button class="button is-link" type="submit"  ng-click="vm.Calculate()">Calculer</button>
       </form>
        <br />

        <br />
        <br />
        <h1>Resulte: {{vm.result}} Nm</h1>
        <i>Distance de mise en descente = (vitesse sol * Δ Z)/(60 * Vz) </i>
    </div>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/todController.js"></script>
</body>

</html>